services:
  unlock-schedule:
    image: unlock-schedule:${APP_VERSION:-latest}
    container_name: unlock-schedule
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # Path inside the container to the JSON credential:
      GCAL_SERVICE_ACCOUNT_JSON: "/secrets/service-account.json"
    volumes:
      # Bind to a read-only location on the Synology drive, like:
      # /volume1/docker/unlock-schedule/secrets
      # Make sure the service account that runs this container has read-only access to this location
      - /volume1/docker/unlock-schedule/secrets:/secrets:ro
    read_only: true
    tmpfs:
      - /tmp
    restart: unless-stopped
